.edit-poll {
  @include full-width;
  @include element-gutter(padding);

  background-color: clr(light-background);
  margin-bottom: (-1) * $space-l;
  padding-bottom: $space-l;
  min-height: 70vh;

  &__title {
    margin-top: $space-l;
    text-align: center;
    font-weight: $font-weight-semi-bold;
  }

  &__label {
    font-weight: $font-weight-bold;
    padding-top: $space-xxs;
  }

  &__edit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__icon {
    width: $icon-xxs;
    height: $icon-xxs;
  }
}