.edit-user {
  padding: $space-m 0;
  display: flex;
  flex-direction: column;

  &__title,
  &__title-secondary {
    font-weight: $font-weight-semi-bold;
  }

  &__title-secondary {
    padding-top: $space-m;
    padding-bottom: $space-xs;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    height: $icon-xxs;
    width: $icon-xxs;
  }

  &__change-password {
    padding-top: $space-xl;
    padding-bottom: $space-m;
  }
}