.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__close {
    align-self: flex-end;
    margin-bottom: $space-s;
  }

  &__close-icon {
    width: $icon-s;
    height: $icon-s;
  }

  &__form {
    margin-bottom: $space-l;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: $space-l;
  }

  &__eye {
    width: $icon-s;
    height: $icon-s;
  }

  &__link {
    margin-bottom: $space-l;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: $font-weight-regular;
  }

  &__signup {
    @include element-spacer;
  }
}