.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__close {
    align-self: flex-end;
    margin-bottom: $space-s;
  }

  &__close-icon {
    width: $icon-s;
    height: $icon-s;
  }

  &__form {
    margin-bottom: $space-l;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: $space-l;
  }

  &__input {
    margin-bottom: $space-l;
  }

  &__password-icon {
    position: absolute;
    margin-left: -2.25rem;
    margin-top: (-1) * $space-xxs;
  }

  &__signup {
    @include element-spacer;
  }
}