.edit-header {
  @include full-width;
  @include element-gutter('padding');

  background-color: clr(pale-background);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: $space-s;
  padding-bottom: $space-s;
  border-bottom: $border-separator;
  margin-bottom: $space-m;

  &__left-icon,
  &__right-icon {
    height: $icon-xxs;
    width: $icon-xxs;
    margin-right: $space-xs;
  }
}