.profile-header {
  @include element-gutter('padding');
  @include full-width;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $space-xs;
  padding-bottom: $space-xs;
  background-color: clr(header-profile);
}