.create-poll {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding: $space-m;
  }

  &__buttons {
    width: 100%;
    padding-bottom: $space-m;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button {
    margin-bottom: $space-xs;
  }
}