html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: $font-weight-regular;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h4 {
  font-size: $h4-font-size;
  text-transform: uppercase;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}

p {
  font-family: $font-body;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  border: none;
  border-bottom: $border-input;
  font-family: $font-body;
  font-size: $font-16;
  padding: $space-xxs $space-l;
  box-sizing: border-box;
}

header {
  margin: $space-m;
}
// button {
//   //
// }

// figure {
//   //
// }