/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 27.5em)  { @content ; }
 }
}

/*********************
SPACER
*********************/
// @mixin element-spacer() {
//   margin-top: $space-m;
//   margin-bottom: $space-m;
//   margin-left: $space-m;
//   margin-right: $space-m;
// }

@mixin element-spacer($property: 'margin') {
  #{$property}-top: $gutter-medium;
  #{$property}-bottom: $gutter-medium;

  @include breakpoint(laptop) {
    #{$property}-top: $gutter-large;
    #{$property}-bottom: $gutter-large;
  }
}

@mixin element-gutter($property: 'margin') {
  #{$property}-left: $gutter-medium;
  #{$property}-right: $gutter-medium;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint(laptop) {
    #{$property}-left: $gutter-large;
    #{$property}-right: $gutter-large;
  }
}

@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/*********************
RESETS
*********************/

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}