.button,
.button-with-nav {
  background-color: clr(button-primary);
  color: clr(text-inverse);
  text-transform: uppercase;
  font-size: $font-24;
  font-family: $font-body;
  font-weight: $font-weight-medium;
  padding: $space-xs $space-m;
  border-radius: $border-radius-small;
  cursor: pointer;
  border: none;
  box-shadow: 7px 7px 4px clr(box-shadow);

  &--secondary {
    text-transform: capitalize;
    background-color: clr(button-secondary);
    color: clr(text);
    font-size: $font-16;
  }

  &--icon {
    color: clr(text);
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    font-size: $font-16;
    font-weight: $font-weight-regular;
    display: flex;
    align-items: center;
  }

  &--link {
    background-color: transparent;
    color: clr(text);
    box-shadow: none;
    font-size: $font-16;
    text-transform: none;
    font-weight: $font-weight-regular;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &:disabled {
    cursor: default;
    background-color: clr(button-disabled);
  } 
}