.input-container {
  width: 100%;
  display: flex;

  .error-message {
    display: none;
  }

  .invalid-input + .error-message {
    display: block;
  }
}

.input-with-button {
  &__button {
    border-bottom: $border-input;
    border-radius: 0;
  }
}