.register {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__close {
    align-self: flex-end;
  }

  &__close-icon {
    width: $icon-s;
    height: $icon-s;
  }

  &__title {
    @include element-spacer;

    margin-left: $space-l;
    margin-right: $space-l;
    text-align: center;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $space-l;
  }
  
  &__password-icon {
    position: absolute;
    margin-left: -2.25rem;
    margin-top: (-1) * $space-xxs;
  }

  &__eye {
    width: $icon-s;
    height: $icon-s;
  }

  &__button {
    margin-top: $space-s;
  }

  &__login {
    @include element-gutter;
    @include element-gutter('padding');

    margin-top: $space-l;
  }
}