.history-card {
  background-color: clr(light-background);
  border-radius: $border-radius-small;
  margin-top: $space-s;

  &__header {
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;
    padding: $space-s;
    display: flex;
    justify-content: space-between;
    background-color: clr(card-header);
  }

  &__title-container {
    width: 100%;
    text-align: center;
  }

  &__delete {
    width: $icon-s;
    height: $icon-s;
    margin-right: (-1) * $space-xs;
  }

  &__title {
    text-transform: uppercase;
  }

  &__content {
    padding: $space-s;
  }
}