.pair-card {
  display: flex;
  align-items: center;
  margin-bottom: $space-xs;
  width: 100%;

  &__placement {
    background-color: clr(placement);
    padding: $space-xs $space-s-xs;
    border-radius: $border-radius-small;
  }

  &__pair {
    padding-left: $space-xs;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  &__lead,
  &__follow {
    width: 100%;
    padding: $space-s;
  }

  &__lead,
  &__lead--result {
    text-align: right;
    background-color: clr(leader);
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
  }

  &__follow,
  &__follow--result {
    background-color: clr(follower);
    border-top-right-radius: $border-radius-small;
    border-bottom-right-radius: $border-radius-small;
  }

  &__lead--result,
  &__follow--result {
    width: 100%;
    padding: $space-xs;
    border-radius: $border-radius-small;
    text-align: center;
  }

  &__follow--result {
    margin-left: $space-xxs;
  }
}

.pair-card-editable {
  display: flex;
  align-items: center;
  margin-bottom: $space-xs;

  &__pair {
    width: 100%;
    display: flex;
    margin-left: $space-xs;
    justify-content: space-evenly;
  }

  &__lead,
  &__follow {
    width: 100%;
    padding: $space-s;
  }

  &__lead {
    text-align: right;
    background-color: clr(leader);
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
  }

  &__follow {
    background-color: clr(follower);
  }

  &__button-delete {
    background-color: clr(light-background);
    border-radius: 0;
    padding: 0.585rem 0;
  }

  &__button-edit {
    background-color: clr(card-accent);
    border-radius: 0;
    padding: 0.585rem $space-xxs;
    border-top-right-radius: $border-radius-small;
    border-bottom-right-radius: $border-radius-small;
  }

  &__buttons {
    display: flex;
    height: inherit;
  }

  &__icon {
    width: $icon-s;
    height: $icon-s;
  }
}